<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="{:url('admin/main/index')}">火车票管理系统</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
        <a href="javascript:;">欢迎{:session('role')}角色:{:session('login_id')}</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="{:url('admin/main/password')}">修改密码</a></dd>
            <dd><a href="{:url('admin/main/logout')}">退出</a></dd>
        </dl>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->