<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>抢票前台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css">
	<link rel="stylesheet" href="/static/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <a href="http://frontend.zxmcoder.cn/front/user/logout" ><h3 style="color:red">点击登出</h3></a>
            <a href="http://frontend.zxmcoder.cn/front/user/showticket" ><h3 style="color:red">查看买票结果</h3></a>
            <hr/>
            可以查看当前的火车票情况
            <hr/>
            每次抢票间隔10秒，连续抢票不被响应
            <hr/>
            <table class="layui-table">
              <thead>
                  <tr>
                      <th>火车票</th>
                      <th>剩余数量</th>
                      <th>购买</th>
                  </tr>
                  {volist name="tickets" id="vo"}
                  <tr>
                      <td>{$vo.ticket_id}</td>
                      <td>{$vo.ticket_num}</td>
                      <td class="td-manage">
                        {if condition="$vo.ticket_num>0"}
                        <a title="购买一张火车票" href="dobuyticket?ticket_id={$vo.ticket_id}"
                        class="ml-5" style="text-decoration:none">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        {else /} 余票不足
                        {/if}
                    </td>
                  </tr>
                  {/volist}
              </thead>
            </table>
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
</body>
</html>